In [11]:
def filter_list(lst):
    new_list=[]
    for i in lst:
        if type(i) == int:
            new_list.append(i)
        else:
            continue
    return new_list

In [12]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [13]:
filter_list(['A', 0, 'Edabit', 1729, 'Python', '1729'])

[0, 1729]

In [36]:
def mean(digits):
    digstr=str(digits)
    digList=[]
    for dig in digstr:
        digList.append(int(dig))
    mean = sum(digList) / len(digList)
    return mean
    #dig_list = digstr.split()
    #dig_mean = sum(dig_list)/len(dig_list)
    #return dig_mean

In [37]:
mean(30)

1.5

In [55]:
def count_all(string):
    stringNoSpace = string.replace(" ","").lower()
    charList = list(stringNoSpace)
    numLetters=[]
    numDigits=[]
    for char in charList:
        try:
            numDigits.append(int(char))
        except:
            numLetters.append(char)
    
    res_dict={"LETTERS": len(numLetters), "DIGITS": len(numDigits)}
    return res_dict

In [56]:
count_all("H3ll0 Wor1d")

{'LETTERS': 7, 'DIGITS': 3}

In [57]:
hrDbPath = "/Users/franzv/Desktop/lighthouse_labs/lighthouse_data_notes/week02_Test/assessment-exam-student-python/supporting_files/hr.db"

In [58]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection SQLite DB successful")
    except Error as e:
        print(f"Error '{e}' occurred")
        
    return connection

In [59]:
connection = create_connection("hrDbPath")

Connection SQLite DB successful

In [60]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [ ]:
myQuery = """
SELECT first_name_



"""