In [1]:
x = (1,2,3)

In [2]:
x = (8,2) + x

In [3]:
print(x)

(8, 2, 1, 2, 3)

In [4]:
course_marks = {'name1':10, 'name2':20, 'name3':30}
for key,item in course_marks.items():
    print(key,item)

name1 10
name2 20
name3 30

In [5]:
y = [
    1,2,
    3,4,
]

In [6]:
print(y)

[1, 2, 3, 4]

In [7]:
try:
    print('try block')
    x=int(input('Enter a number: '))
    y=int(input('Enter another number: '))
    z=x/y
except ZeroDivisionError:
    print("except ZeroDivisionError block")
    print("Division by 0 not accepted")
else:
    print("else block")
    print("Division = ", z)
finally:
    print("finally block")
    x=0
    y=0
print ("Out of try, except, else and finally blocks." )

try block

Enter a number:  7
Enter another number:  7

else block
Division =  1.0
finally block
Out of try, except, else and finally blocks.

In [8]:
try:
    x=int(input('Enter a number upto 100: '))
    if x > 100:
        raise ValueError(x)
except ValueError:
    print(x, "is out of allowed range")
else:
    print(x, "is within the allowed range")

Enter a number upto 100:  80

80 is within the allowed range

In [15]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.copy(old_list)

old_list[1][1] = 'AA'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 'AA', 2], [3, 3, 3]]

In [16]:
import copy

old_list = [[1, 1, 1], [2, 2, 2], [3, 3, 3]]
new_list = copy.deepcopy(old_list)

old_list[1][0] = 'BB'

print("Old list:", old_list)
print("New list:", new_list)

Old list: [[1, 1, 1], ['BB', 2, 2], [3, 3, 3]]
New list: [[1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [19]:
l1=[[10, 20], [30, 40], [50, 60]] 
ls=list(l1)
ls

[[10, 20], [30, 40], [50, 60]]

In [20]:
from collections import namedtuple
fruit = namedtuple('fruit','number variety color')
guava = fruit(number=2,variety='HoneyCrisp',color='green')
apple = fruit(number=5,variety='Granny Smith',color='red')

In [21]:
guava.color

'green'

In [24]:
from collections import Counter
c = Counter(a=3, b=2, c=1, d=-2)
sorted(c.elements())

['a', 'a', 'a', 'b', 'b', 'c']

In [26]:
s = 'the lazy dog jumped over another lazy dog'
words = s.split()
print(words)
Counter(words).most_common()

['the', 'lazy', 'dog', 'jumped', 'over', 'another', 'lazy', 'dog']

[('lazy', 2),
 ('dog', 2),
 ('the', 1),
 ('jumped', 1),
 ('over', 1),
 ('another', 1)]

In [27]:
d = {'banana': 3, 'apple': 4, 'pear': 1, 'orange': 2}

In [32]:
from collections import OrderedDict
d = OrderedDict(sorted(d.items(), key=lambda t: t[0]))
print(d)

OrderedDict([('apple', 4), ('banana', 3), ('orange', 2), ('pear', 1)])

In [52]:
s = 'the lazy dog jumped over another lazy dog'
words = s.split()
c = Counter(words)
print(c)
d = c.most_common()[:-5-1:-1]       
print(d)

Counter({'lazy': 2, 'dog': 2, 'the': 1, 'jumped': 1, 'over': 1, 'another': 1})
[('another', 1), ('over', 1), ('jumped', 1), ('the', 1), ('dog', 2)]

In [4]:
from collections import Counter
cnt = Counter({1:3,2:4})
print(list(cnt.elements()))

[1, 1, 1, 2, 2, 2, 2]

In [5]:
list1 = [1,2,3,4,1,2,6,7,3,8,1]
cnt = Counter(list1)
print(cnt.most_common())

[(1, 3), (2, 2), (3, 2), (4, 1), (6, 1), (7, 1), (8, 1)]

In [10]:
from collections import defaultdict
nums = defaultdict(int)
nums['one'] = 1
print(nums['three'])

0

In [11]:
print(nums)

defaultdict(<class 'int'>, {'one': 1, 'three': 0})

In [12]:
from collections import OrderedDict
od = OrderedDict()
od['a'] = 1
od['c'] = 3
od['b'] = 2
print(od)

OrderedDict([('a', 1), ('c', 3), ('b', 2)])

In [13]:
list2 = ["a","c","c","a","b","a","a","b","c"]
cnt = Counter(list2)
od = OrderedDict(cnt.most_common())
for key, value in od.items():
    print(key, value)

a 4
c 3
b 2

In [14]:
from collections import ChainMap
dict1 = { 'a' : 1, 'b' : 2 }
dict2 = { 'c' : 3, 'b' : 4 }
chain_map = ChainMap(dict1, dict2)
print(chain_map.maps)

[{'a': 1, 'b': 2}, {'c': 3, 'b': 4}]

In [15]:
from collections import namedtuple

In [16]:
Student = namedtuple('Student', 'fname, lname, age')
s2 = Student._make(['Adam', 'Joe','18'])

In [17]:
print(s2)

Student(fname='Adam', lname='Joe', age='18')